<div class="main-header">
  <div class="main-header-left">
    <% if user_signed_in? %>
      <div class="camp-btn">
        <%= link_to "キャンプを記録する","#", class: "post" %>
      </div>
    <% else %>
      <div class="camp-btn">
        <%= link_to "ユーザー登録", new_user_registration_path, class: "post" %>
      </div>
    <% end %>
  </div>
  <div class="main-header-right">
    <div class="user-info">
      <% if user_signed_in? %>
        <div class="user-info">
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "post" %>
        </div>
      <% else %>
        <div class="user-info">
          <%= link_to "ログイン",user_session_path, class: "post" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="camps">
  <ul><%= link_to "ソロ","#", class: "style-name" %>
    <li class="style-content">
      <%= link_to "ユーザー名","#", class: "user-name" %>:<%= link_to "キャンプのタイトル","#", class: "camp-name" %>
    </li>
  </ul>

</div>