<div class="main-header">
  <div class="main-header-left">
    <% if user_signed_in? %>
      <div class="camp-btn">
        <%= link_to "キャンプを記録する", new_camp_path, class: "post" %>
      </div>
    <% else %>
      <div class="camp-btn">
        <%= link_to "ユーザー登録", new_user_registration_path, class: "post" %>
      </div>
    <% end %>
  </div>
  <div class="main-header-right">
    <div class="user-info">
      <% if user_signed_in? %>
        <div class="user-info">
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "post" %>
        </div>
      <% else %>
        <div class="user-info">
          <%= link_to "ログイン", user_session_path, class: "post" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="camps">
  <div class="main-top">
    <h1 class="image-text">
      campに出かけよう
    </h1>
    <p class="image-text-a">
      自然が好きだ！
    </p>
    <p class="image-text-a">
      キャンプが好きだ！
    </p>
  </div>
  <div class="camps-wrap">
    <% @tags.each do |tag|%>
      <% camp_count = tag.camps.length %>
      <div class="camp_style">
        <h2 class="style">
          <%= tag.style %>(<%= camp_count %>)
        </h2>
        <ul class="camp_title">
          <p class="camps_list">
            <% tag.camps.each do |camp| %>
              <li class="title">
                <%= link_to "#{camp.user.nickname}", "#" %> : <%= link_to "#{camp.title}", camp_path(camp.id) %>
              </li>
            <%end%>
          </p>
        </ul>
      </div>
    <%end%>
  </div>
</div>