<div class="side-bar-header">
  <div class="app-name">
    <% if user_signed_in? %>
      <%= link_to "#{current_user.nickname}", root_path, class: "post" %>
    <% else %>
      <%= link_to "CAMP-STYLE", root_path, class: "post" %>
    <% end %>
  </div>
</div>

<div class="user-items">
  <% if user_signed_in? %>
    <div class="item-btn">
      <%= link_to "+マイアイテム", new_item_path, class: "post" %>
    </div>
    <ul class="items">
      <div class="item">
        <% @items.each do |item| %>
          <li>
            <%= link_to "#{item.name}", item_path(item.id) %>
          </li>
        <% end %>
      </div>
    </ul>
    <% if @items.present? %>
      <% amount = 0 %>
      <% @items.each do |item| %>
        <% amount = amount + item.price %>
      <% end %>
      <p>総額¥<%= amount %></p>
    <% end %>
  <% end %>
</div>