<div class="wrapper">
  <div class="side-ber">
    <%= render "side_ber" %>
  </div>
  <%= form_with model: @camp, url: camps_path, class:'form-wrap', local: true do |f| %>
    <div class='form'>
      <div class="title-field">
        <%= f.label :title,  "キャンプタイトル" %>
        <%= f.text_area :title, class:"input-title" %>
      </div>
      <div class="tag-field", id='tag-field'>
        <%= f.label :style, "キャンプスタイル" %>
        <%= f.text_field :style, class:"input-tag" %>
      </div>

      <p>使用アイテムを選択 </p>
      <select name="camp_tags[item_ids][]" multiple>
        <% @items.each do |item| %>
          <option value=<%= item.id %>><%= item.name %></option>
        <% end %>
      </select>


    </div>
    <div class="submit-post">
      <%= f.submit "Send", class: "submit-btn" %>
    </div>
  <% end %>
</div>