<div class="wrapper">
  <div class="side-ber">
    <%= render "camps/side_ber" %>
  </div>
  <div class="camp-datas">
    <div class="camp-data">
      <h1><%= @camp.title %></h1>
      投稿者 : <%= @camp.user.nickname %>
      <p>決行日 : <%= @camp.day %></p>
    </div>
    <div class="camp-data">
      <% if @camp.image.present? %>
        <h3>キャンプの画像</h3>
        <%= image_tag @camp.image, class: "item-img" %>
      <% end %>
    </div>
    <div class="camp-data">
      <h3>キャンプ地</h3>
      <%= @camp.place %>
    </div>
    <div class="camp-data">
      <h3>キャンプスタイル</h3>
      <% @camp.tags.each do |tag| %>
        /<%= tag.style %>/
      <% end %>
    </div>
    <div class="camp-data">
      <% if @camp.text.present? %>
        <h3>キャンプの感想</h3>
        <%= @camp.text %>
      <% end %>
    </div>
    <div class="camp-data">
      <h3>キャンプに持って行ったアイテム一覧</h3>
      <% count = 0 %>
      <% @camp.items.each do |item| %>
        <% count = count + 1 %>
        <p>
          <%= count %>.<%= link_to "#{item.name}", item_path(item.id) %><br>
          アイテムの値段 ¥<%= item.price %>円
        </p>
      <% end %>
    </div>
    <div class="camp-data">
      <h3>キャンプに持って行ったアイテム総額</h3>
      <% amount = 0 %>
      <% @camp.items.each do |item| %>
        <% amount = amount + item.price %>
      <% end %>
      アイテムの総額 ¥<%= amount %>円
    </div>
    <% if user_signed_in? %>
      <% if current_user.id == @camp.user.id %>
        <%= link_to "キャンプ記録を編集する", edit_camp_path(@camp.id) %>
      <% end %>
    <% end %>
  </div>
</div>