<div class="wrapper">
  <div class="side-ber">
    <%= render "camps/side_ber" %>
  </div>
  <%= form_with model: @item, class:'form-wrap', local: true do |f| %>
    <%= render 'layouts/error_messages', model: f.object %>
    
    <div class='form'>

      <div class="genre-field">
        <%= f.label :genre_id,  "アイテムの種類" %>
        <%= f.collection_select(:genre_id, Genre.all, :id, :name, {}, {class:"genre-select"}) %>
      </div>

      <div class="item-field">
        <%= f.label :name,  "アイテムの名前" %>
        <%= f.text_field :name, class:"input-title" %>
      </div>

      <div class="camp-field">
        <%= f.label :image, "アイテム画像" %>
        <%= f.file_field :image, id:"item-image" %>
      </div>

      <div class="item-field">
        <%= f.label :feature, "アイテムの特徴や説明" %>
        <%= f.text_field :feature, class:"input-tag" %>
      </div>

      <div class="item-field">
        <%= f.label :price, "アイテムの値段" %>
        <%= f.text_field :price, class:"input-tag" %>
      </div>

    </div>

    <div class="submit-post">
      <%= f.submit "Send", class: "submit-btn" %>
    </div>
    
  <% end %>
</div>