<div class="wrapper">
  <div class="side-ber">
    <%= render "camps/side_ber" %>
  </div>
  <div class="item-datas">

    <div class="item-data">
      <div class="data-name">
        アイテムの種類
      </div>
      <div class="data">
        <%= @item.genre.name %>
      </div>
      <% if user_signed_in? && current_user.id == @item.user.id %>
        <div class="item-info">
          <%= link_to "#{current_user.nickname}の#{@item.genre.name}一覧", "#" %>
        </div>
      <% end %>
    </div>

    <div class="item-data">
      <div class="data-name">
        アイテムの名前
      </div>
      <div class="data">
        <%= @item.name %>
      </div>
    </div>

    <div class="item-data">
      <% if @item.image.present? %>
        <h3>キャンプの画像</h3>
        <%= image_tag @item.image, class: "item-img" %>
      <% end %>
    </div>

    <div class="item-data">
      <div class="data-name">
        アイテムの特徴や説明
      </div>
      <div class="data">
        <%= @item.feature %>
      </div>
    </div>

    <div class="item-data">
      <div class="data-name">
        アイテムの値段
      </div>
      <div class="data">
        ¥<%= @item.price %>円
      </div>
    </div>

    <div class="item-data">
      <div class="data-name">
        アイテムの使用履歴
      </div>
      <div class="data">
        <% @item.camps.each do |camp| %>
          <div class="data">
            <%= link_to "#{camp.title}", camp_path(camp.id) %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

</div>